<template>
  <div>Map</div>
  <hr />

  <div class="grid-container">
    <!-- Left column (table) -->
    <div>
      <!-- Input Form -->
      <div class="grid-container">
        <input v-model="nameInput" type="text" id="name" placeholder="Name" />
        <input v-model="typeInput" type="text" id="type" placeholder="Type" />
        <input v-model="latInput" type="text" id="lat" placeholder="Lat" />
        <input v-model="lonInput" type="text" id="lon" placeholder="Lon" />
        <div>
          <button @click="addSight()" style="margin-top: 10px">Submin</button>
        </div>
      </div>

      <!-- Button um Sehenswürdigkeiten via Rest Api (http request) zu laden -->
      <button @click="loadSights()" style="margin-top: 40px;">Load Sights</button>

      <!-- Sight table -->
      <div style="margin-top: 15px">
        <table>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Type</th>
            <th>Lat</th>
            <th>Lon</th>
          </tr>
          <tr v-for="sight in store.sights">
            <td>{{ sight.id }}</td>
            <td>{{ sight.name }}</td>
            <td>{{ sight.type }}</td>
            <td>{{ sight.lat }}</td>
            <td>{{ sight.lng }}</td>
          </tr>
        </table>
      </div>
    </div>

    <!-- Right column (map) -->
    <div
      id="map"
      style="background-color: bisque; height: 450px; border-radius: 20px"
    >
      Rechte Spalte
    </div>
  </div>
</template>

<script setup>
import { ref, onMounted, onUnmounted } from "vue";
import L from "leaflet";
import "leaflet/dist/leaflet.css";
import { store } from "../store";
import { getSights, postSight } from '../rest'

let map;

onMounted(() => {
  map = L.map("map").setView([48.778, 9.178], 13);
  L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
    maxZoom: 19,
  }).addTo(map);

  map.on("click", function (e) {
    console.log(e.latlng);
    console.log(e.latlng.lat);
    console.log(e.latlng.lng);
    latInput.value = e.latlng.lat;
    lonInput.value = e.latlng.lng
  });
});

onUnmounted(() => {
  console.log("Map Page Unmounded!");
});

let nameInput = ref("");
let typeInput = ref("");
let latInput = ref("");
let lonInput = ref("");

async function addSight() {
  const sightToPost = {
    name: nameInput.value,
    type: typeInput.value,
    lat: latInput.value,
    lng: lonInput.value,
  }
  
  store.addSight(sightToPost);
  await postSight(sightToPost)
  let newMarker = new L.marker({lat: latInput.value, lng: lonInput.value}).addTo(map);
}

async function loadSights () {
  await getSights();

  for (let i = 0; i < store.sights.length; i++) {
    L.marker({lat: store.sights[i].lat, lng: store.sights[i].lng}).addTo(map);
  }

}
</script>

<style>
.sight-item {
  border: 1px solid black;
  margin-top: 10px;
  padding: 5px;
}

table {
  border: 1px solid black;
  width: 100%;
}
tr {
  border: 1px solid black;
}
th {
  background-color: gainsboro;
  border: 1px solid black;
}
td {
  border: 1px solid black;
  text-align: center;
}

label {
  margin-right: 5px;
  margin-top: 10px;
}
input {
  margin-right: 15px;
  margin-top: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: 40% 60%;
  column-gap: 30px;
}
</style>
