<template>
  <!-- Navigation -->
  <div class="navigation">
    <RouterLink to="/" class="navigation-item">Start</RouterLink>
    |
    <RouterLink to="/map" class="navigation-item">Karte</RouterLink>
    |
    <RouterLink to="/about" class="navigation-item">Über Uns</RouterLink>
  </div>
  <!-- Pages -->
  <div class="pages">
    <RouterView></RouterView>
  </div>
</template>

<script setup>
import { RouterLink, RouterView } from "vue-router";

</script>

<style scoped>
.navigation {
  display: flex;
  justify-content: center;
  background-color: #fe816b;
  padding: 15px;
  color: white;
}
.navigation-item {
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  color: white;
  text-decoration: none;
}
.pages {
  padding: 40px;
}
</style>
